name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  bigdata-tests:
    name: "Build and Test"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - "3.10"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python_version }}'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsasl2-dev
          make install

          # Note: currently required to import snapshot utils from localstack
          # TODO remove once imports are better organized in localstack
          . .venv/bin/activate; pip install localstack-core[runtime]

      - name: Run tests
        run: |
          make lint
          make test
